.head {
  width: 100%;
  height: 100px;
  text-align: center;
}

/*hiding number spinners*/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

body {
    padding-bottom: 40px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    text-align: center;
    color: #FFFFFF;
    padding: 8em;
    padding-bottom: 3em;
}


/* CSS for login form */
.login-form {
    width: 100%;
    color: #FFFFFF;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* error messages */
.login-form .error-message {
    background-color: red;
    padding: 0.5em;
}

* {
    box-sizing: border-box;
}

/* CSS for info block */
.info-block {
    color: #FFFFFF;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.info-block h2, .info-block p {
    text-align: center;
    padding: 1em;
}

.info-block img {
    padding: 1em;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.container {
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
}

#notif-request {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F4F4F;
    color: white;
    text-align: left;
    padding: 1em;
}

#notif-request h1 {
    font-size: 2em;
}

#close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.footer {
    background: #FFFFFF;
    text-align: left;
    padding: 1em;
    margin-top: 1em;
}

.logout {
    cursor: pointer;
}