.head {
  width: 100%;
  height: 100px;
  text-align: center;
}




/* Sign in stuff*/

html,
body {
  height: 100%;
}
/*hiding number spinners*/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}
